<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>enru tech :: {{ page.title }}</title>
<meta name="author" content="Neill Russell" />
<meta name="keywords" content="hacker, photographer, edinburgh, php, magento, wordpress, web developer" />
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
<!--
<link rel="stylesheet/less" href="/path/to/bootstrap.less">
<script src="/path/to/less.js"></script>
-->
<link rel="stylesheet" href="/css/enru.css" type="text/css" media="screen, projection" />
</head>
<body>
	<div class="container">
		<div class="hero-unit">
			<h1><a href="/">enru</a></h1>
			<p>errant hacker, workaholic slacker</p>
		</div>
		<div class="content">
			{{ content }}
		</div>
	</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19091572-1']);
  _gaq.push(['_setDomainName', '.enru.co.uk']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
