---
layout: default
---
<div id="post">
  <h1><a href="{{ site.baseurl }}/blog{{ page.url }}">
	{{ page.title }}
	</a></h1>
	<div id="date">published {{ page.date | date_to_string }}</div>
	{{ content }}
</div>
<hr />
<div id="disqus">
	<div id="disqus_thread"></div>
	<script type="text/javascript" src="http://disqus.com/forums/enrutech/embed.js"></script>
	<noscript><a href="http://enrutech.disqus.com/?url=ref">View the discussion thread.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
